@import url( 'http://fonts.googleapis.com/css?family=Roboto:300,400');
@import url( 'https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url( 'https://fonts.googleapis.com/css?family=Lato:400,900i');
$space-large: 1.5rem;
$title-color: #555;
$nav-font: #333;
$night-ocean: #232f32;
$header-color: #6abedb; //blue
$body-color: #1a1b1b;
$dark-grey: #323232;
$light-grey: #373837;
$not-so-dark-grey: #e8e8e8;
$crazy-light-grey: #f2f2f2;
// Chart colors
$green: #006600;
$orange: #cc7a00;
$red: #990000;
$black: #1a1b1b;
$grey: #737373;

body,
html {
    background: $crazy-light-grey;
    height: 100%;
    font-family: roboto;
    color: $body-color;
}

.row {
    max-width: 100rem;
}

.loading-overlay {
    background-color: rgba(10, 10, 10, 0.45) !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#offCanvas {
    width: 350px;
    height: 100%;
    padding: 1.5rem;
    background: $not-so-dark-grey;
}

.is-open-right {
    transform: translateX(-350px);
}

.off-canvas.position-right {
    right: -350px;
}

.off-canvas-content {
    background: $crazy-light-grey;
}

a {
    color: $header-color;
}

hr {
    border-color: #bdbdbd;
    margin-top: 0.5rem;
    max-width: 100%;
}

@media only screen and (max-width: 480px) {
    .allSensors,
    .buildingCharts {
        display: none;
    }
}

.divider {
    border-color: #bdbdbd;
}

.reveal {
    top: 100px !important;
}

table thead {
    background: #d3d3d3;
    color: $body-color;
    border: 1px solid #e4e4e4;
}

table tbody {
    color: $body-color;
    border: 1px solid #e4e4e4;
}

.margin-top-large {
    margin-top: 4rem;
}

.margin-bottom-large {
    margin-bottom: 4rem;
}

.margin-right-small {
    margin-right: 2rem;
}

.margin-left-small {
    margin-left: 2rem;
}

.margin-left-tiny {
    margin-left: 0.5rem;
}

.margin-right-tiny {
    margin-right: 0.5rem;
}

.margin-top-md {
    margin-top: 2rem;
}

.margin-top-small {
    margin-top: 1rem;
}

.margin-bottom-md {
    margin-bottom: 2rem;
}

.margin-bottom-small {
    margin-bottom: 1rem;
}

.textAlignCenter {
    text-align: center;
}

ul.header-list {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
}

.sticky {
    z-index: 10000;
    left: 0 !important;
}

.callout {
    background-color: #fff;
}

.callout-dark {
    padding: 1.5rem;
    background-color: #fff;
    border: 2px solid #bdbdbd;
    border-top: none;
    margin-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.scroll {
    max-height: 100vh;
    overflow-y: scroll;
}

.callout-dark-header {
    padding: 0.5rem;
    background-color: #fff;
    border: 2px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
}

.callout-top-header {
    padding: 1rem;
    background-color: $crazy-light-grey;
    border: 2px solid #bdbdbd;
    border-radius: 4px;
}

.callout-minimize {
    margin-bottom: 1rem;
    border-radius: 4px 4px;
    padding: 0.5rem;
}

.icon-btn-text-small {
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    top: 15px;
    right: 15px;
    position: absolute;
    color: $night-ocean;
    font-size: 1.2rem;
}

.test {
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
    background: $header-color;
}
// .buildingCharts {
//   display: none;
// }

label {
    text-transform: capitalize;
    color: $night-ocean;
}

.header {
    color: $night-ocean;
    margin-bottom: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;
}

.sub-header {
    color: $night-ocean;
    font-size: 1.3rem;
    font-family: 'Pathway Gothic One', sans-serif;

    a {
        text-transform: capitalize;
    }
}

#watchList {
  display: none;
}

.page-title {
    color: #8e8e8e;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

input[type=search] {
    box-shadow: none;
}

.top-bar-upper {
    color: $nav-font;
    font-size: 0.5rem;
}

.app-header {
    font-size: 1.3rem;
}

table.overview-custom {
    tbody,
    th,
    thead,
    tr {
        text-align: center;
    }
}

table.sensor-details-table {
    tbody {
        text-align: left;
    }
}

.statusText {
    color: red;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.notificationHeader {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: bold;
}

.sensorBlock {
    height: 30px;
    border-radius: 30px;
    width: auto;
    color: #fff;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}

.sensorBlockSquare {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    line-height: 28px;
    color: white;
    font-weight: bold;
}

.sensorBlockSquare:hover {
    opacity: 0.5;
}

.sensorList {
    display: inline-block;
    margin-right: 1px;
}

.button-custom {
    height: 30px;
    width: auto !important;
    margin: 0;
    color: #fff !important;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}

.proceed {
    background: $header-color;
}

.cancel {
    background: $red;
}

.cancel:hover {
    background: #7a0000;
}

.remove {
    border: 1px solid $red;
    background-color: #fff;
    color: $red !important;
}
.pin {
    border: 1px solid $red;
    background-color: #fff;
    color: $green !important;
}

.tableOptions > li > a {
    color: $dark-grey;
    font-weight: normal;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
}

.menuHeader:hover,
.tableOptions .menuHeader {
    background-color: $night-ocean !important;
    color: #fff;
    padding: 0.3rem 0.7rem;
    text-transform: uppercase;
}

.tableOptions > li {
    border-bottom: 1px solid $crazy-light-grey;
}

.tableOptions > li:hover {
    background-color: $crazy-light-grey;
}

.dropdown-pane {
    padding: 0;
}

.panel-grey {
    background-color: #e4e4e4;
    padding-top: 1rem;
}

#emailPanel,
#namePanel,
#passwordPanel {
    display: none;
    padding: 1rem;
    background: #e4e4e4;
}

input[type=checkbox]:checked ~ #port {
    display: block;
}

#port {
    display: none;
}

.inactive-link {
  display: none;
}

.button-cancel {
    border-color: $red !important;
    color: $red !important;
}

.green {
    background-color: $green;
}

.orange {
    background-color: $orange;
}

.red {
    background-color: $red;
}

.black {
    background-color: $black;
}

.grey {
    background-color: $grey;
}
