@import url( 'http://fonts.googleapis.com/css?family=Roboto:300,400');
@import url( 'https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url( 'https://fonts.googleapis.com/css?family=Lato:400,900i');

$space-large: 1.5rem;
$title-color: #555;
$nav-font: #333;
$night-ocean: #232f32;
$header-color: #6abedb; //blue
$body-color: #1a1b1b;
$dark-grey: #323232;
$light-grey: #373837;
$not-so-dark-grey: #e8e8e8;
$crazy-light-grey: #f2f2f2;
// Chart colors
$green: #008000;
$orange: #cc7a00;
$red: #990000;
$yellow: #ffcc00;
$black: #1a1b1b;
$grey: #737373;

body,
html {
    background: $crazy-light-grey;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: $body-color;
}

body {
  -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

.row {
    max-width: 80rem;
}

.loading-overlay {
    background-color: rgba(10, 10, 10, 0.45) !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#offCanvas {
    width: 350px;
    height: 100%;
    background: $not-so-dark-grey;
}

.is-open-right {
    transform: translateX(-350px);
}

.off-canvas.position-right {
    right: -350px;
}

.off-canvas-content {
    background: $crazy-light-grey;
}

a {
    color: $black;

    a:hover {
      color: $header-color;
    }
}

hr {
    border-color: #bdbdbd;
    margin-top: 0.5rem;
    max-width: 100%;
}

.divider {
    border-color: #bdbdbd;
    margin-bottom: 10px;
}

.reveal {
    top: 100px !important;
}

table thead {
    background: #d3d3d3;
    color: $body-color;
    border: 1px solid #e4e4e4;
}

table tbody {
    color: $body-color;
    border: 1px solid #e4e4e4;
}

.margin-top-large {
    margin-top: 4rem;
}

.margin-bottom-large {
    margin-bottom: 4rem;
}

.margin-right-small {
    margin-right: 2rem;
}

.margin-left-small {
    margin-left: 2rem;
}

.margin-left-tiny {
    margin-left: 0.5rem;
}

.margin-right-tiny {
    margin-right: 0.5rem;
}

.margin-top-md {
    margin-top: 2rem;
}

.margin-top-small {
    margin-top: 1rem;
}

.margin-top-tiny {
    margin-top: 0.5rem;
}

.margin-bottom-md {
    margin-bottom: 2rem;
}

.margin-bottom-small {
    margin-bottom: 1rem;
}

.textAlignCenter {
    text-align: center;
}

ul.header-list {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
}

.sticky {
    z-index: 10000;
    left: 0 !important;
}

.callout {
    background-color: #fff;
}

.callout-dark {
    padding: 1.5rem;
    background-color: #fff;
    border: 2px solid #bdbdbd;
    border-top: none;
    margin-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.scroll {
    max-height: 100vh;
    overflow-y: scroll;
}

.callout-dark-header {
    padding: 0.5rem;
    background-color: #fff;
    border: 2px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
}

.callout-top-header {
    padding: 1rem;
    background-color: $crazy-light-grey;
    border: 2px solid #bdbdbd;
    border-radius: 4px;
}

.callout-minimize {
    margin-bottom: 1rem;
    border-radius: 4px 4px;
    padding: 0.5rem;
}

.icon-btn-text-small {
    font-family: 'Roboto', sans-serif;
    text-transform: Captitalize;
    top: 15px;
    right: 15px;
    position: absolute;
    color: $dark-grey;
    font-size: 1.1rem;
}

.test {
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    background: $header-color;
}

label {
    text-transform: capitalize;
    color: $night-ocean;
}

.page-title {
    color: $dark-grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.header {
    color: $dark-grey;
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.sub-header {
    color: $night-ocean;
    font-size: 1.3rem;
    font-family: 'Pathway Gothic One', sans-serif;

    a {
        text-transform: capitalize;
    }
}

#watchList {
  display: none;
}

.settings-page-title {
    color: $dark-grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.settings-subheader {
    font-weight: 200;
    white-space: nowrap;
}

.settings-subheader-container {
    padding-top: 1rem;
}

.settings-wrapper {
    margin-left: 1.8rem;
    color: #000;
}

input[type=search] {
    box-shadow: none;
}

.top-bar-upper {
    color: $nav-font;
    font-size: 0.5rem;
}

.app-header {
    font-size: 1.3rem;
}

table.overview-custom {
    tbody,
    th,
    thead,
    tr {
        text-align: center;
    }
}

table.sensor-details-table {
    tbody {
        text-align: left;
    }
}

.statusText {
    color: red;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 0.85em;
}

.notificationHeader {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: bold;
}

.sensorBlock {
    height: 30px;
    border-radius: 30px;
    width: auto;
    color: #fff;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}

.sensorBlockSquare {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    line-height: 28px;
    color: white;
    font-weight: bold;
    margin-bottom: 1px;
}

.sensorBlockSquare:hover {
    opacity: 0.5;
}

.sensorList {
    display: inline-block;
    margin-right: 1px;
}

#uptime-form select {
    margin-right: 2rem;
}

.recharts-tooltip-wrapper {
    z-index: 1000;
    box-shadow: 1px 1px 4px $dark-grey;
    background-color: #fff;
}

#glance-tooltip > table tr:nth-of-type(even) {
    background-color: transparent !important;
}

.button-custom {
    height: 30px;
    width: auto !important;
    margin: 0;
    color: #fff !important;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}

.proceed {
    background: $header-color;
}

.cancel {
    background: $red;
}

.cancel:hover {
    background: #7a0000;
}

.remove {
    border: 1px solid $red;
    background-color: #fff;
    color: $red;
    cursor: pointer;
}

.remove:hover {
    background-color: $red;
    color: #fff !important;
}

.pin {
    border: 1px solid $green;
    background-color: #fff;
    color: $green;
    cursor: pointer;
}

.pin:hover {
    background-color: #006600;
    color: #fff !important;
}

.disabled {
    pointer-events: none;
    background: $not-so-dark-grey;
    border: none;
    color: white;
    cursor: default;
}

.disabled:hover {
    pointer-events: none;
    background: $not-so-dark-grey;
    border: none;
    color: white;
    cursor: default;
}

.tableOptions > li > a {
    color: $dark-grey;
    font-weight: normal;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
}

.menuHeader:hover,
.tableOptions .menuHeader {
    background-color: $night-ocean !important;
    color: #fff;
    padding: 0.3rem 0.7rem;
    text-transform: uppercase;
}

.tableOptions > li {
    border-bottom: 1px solid $crazy-light-grey;
}

.tableOptions > li:hover {
    background-color: $crazy-light-grey;
}

.dropdown-pane {
    padding: 0;
}

.panel-grey {
    background-color: #e4e4e4;
    // padding-top: 1rem;
}

#emailPanel,
#namePanel,
#passwordPanel,
#dailyReportTimePanel,
#flappingDownsPanel,
#considerationPeriodPanel,
#emailRecipientPanel,
#maxDataGapPanel,
#sensorOfflineAllowancePanel {
    display: none;
    padding: 1rem;
    background: #e4e4e4;
}

input[type=checkbox]:checked ~ #port {
    display: none;
}

#port {
    display: block;
}

.inactive-link {
  display: none;
}

.button-cancel {
    border-color: $red !important;
    color: $red !important;
}

.font-white {
  color: #fff;
}

.green {
    background-color: $green;
}

.orange {
    background-color: $orange;
}

.red {
    background-color: $red;
}

.black {
    background-color: $black;
}

.yellow {
    background-color: $yellow;
}

.grey {
    background-color: $grey;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}

.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

.no-border {
    border: none;
    width: inherit;
    background-color: transparent;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

table.sensor-details-table td:nth-child(1) {
    text-transform: Capitalize;
}

table.sensorHealthTable tbody tr:nth-last-child(1) {
  background-color: #fafafa;
  border-top: 0.25px solid #e4e4e4;
}

table.sensorHealthTable tbody th:nth-child(1) {
  font-weight: normal;
}

table.sensor-details-table tbody {
    text-align: left;
}

table.sensor-details-table td:nth-child(2), table.sensor-details-table th:nth-child(2) {
    word-break: break-all;
    text-align: center;
}

table.actionLog tr>td:nth-child(2) {
    font-weight: bold;
}

.table-container {
    text-align: center;
}

.table-row-highlight {
    font-weight: bold;
    border: solid 1px rgb(153, 0, 0);
    background-color: rgba(153,0,0,0.4) !important;
}

.button-disabled {
    pointer-events: none;
    color: #000 !important;
}

#top-bar-pin:hover, #top-bar-delete:hover, #top-bar-edit:hover {
    color: $header-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <— Apparently some margin are still there even though it's hidden */
}

.tabs {
  border: none;
}

.addEditSensor > tbody{
  //border-left: 2px solid #e4e4e4;
  border: none;
}

span._800 {
  font-weight: 800;
}
