body,
html {
    background: #fff;
    height: 100%;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #6abedb;
    text-transform: uppercase;
    width: 100%;
    background-color: #e8e8e8;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px
}

#diagnosis {
    color: #1a1b1b;
    margin-left: 30px;
}

#itsDeadJim {
    margin-top: 10px;
}

hr {
    border-color: #373837;
    margin-top: 0.5rem;
}

.row {
    max-width: 85rem;
}

div#offCanvas {
    width: 350px;
    height: 100%;
    padding: 1.5rem;
    background: #e8e8e8;
}

.is-open-right {
    transform: translateX(-350px);
}

.off-canvas.position-right {
    right: -350px;
}

.off-canvas-content {
    background: #fff;
}

a {
    color: #6abedb;
}

hr {
    border-color: #373837;
    margin-top: 0.5rem;
}

table thead {
    background: #232f32;
    color: white;
    border: 1px solid #232f32;
}

table tbody {
    color: #1a1b1b;
    border: 1px solid #232f32;
}

.margin-top-large {
    margin-top: 4rem;
}

.margin-bottom-large {
    margin-bottom: 4rem;
}

.margin-right-small {
    margin-right: 2rem;
}

.margin-left-small {
    margin-left: 2rem;
}

.margin-top-md {
    margin-top: 2rem;
}

.margin-bottom-md {
    margin-bottom: 2rem;
}

.margin-bottom-small {
    margin-bottom: 1rem;
}

.textAlignCenter {
    text-align: center;
}

.callout {
    background-color: #f2f2f2;
}

.callout-dark {
    padding: 1.5rem;
    background-color: #f2f2f2;
    border: 1px solid #373837;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 0;
}

.callout-dark-header {
    padding: 0.5rem;
    background-color: #232f32;
    border: 1px solid #373837;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
}

.callout-auth {
    background-color: #fafafa;
    border: 1px solid #fafafa;
    padding: 2rem;
    text-align: center;
}

.callout-auth h3,
.callout-auth p {
    margin-bottom: 2rem;
}

.icon-btn-text-small {
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    top: 15px;
    right: 15px;
    position: absolute;
    color: #f8f8f8;
    font-size: 1.2rem;
}

label {
    text-transform: capitalize;
    color: #232f32;
}

.header {
    color: #6abedb;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
}

.sub-header {
    color: #232f32;
    font-size: 0.9rem;
    font-family: 'Pathway Gothic One', sans-serif;
}

.page-title {
    color: #555;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

input[type=search] {
    box-shadow: none;
}

.top-bar-upper {
    color: #333;
    font-size: 0.5rem;
}

.app-header {
    font-size: 1.3rem;
}

table.overview-custom tbody,
table.overview-custom th,
table.overview-custom thead,
table.overview-custom tr {
    text-align: center;
}

table.sensor-details-table tbody {
    text-align: left;
}

.statusText {
    color: red;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: bold;
}

.table-container {
    text-align: center;
}
